<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'mycourse' %}" method="post">
        {% csrf_token %}
        <select name="courses" id="courseID" multiple>
            {% for course in courses %}
            <option value="{{course.course_id}}">{{course.course_code}}  ({{course.course_description}})</option>
            {% endfor  %}
        </select>

        <button>submit</button>
    </form>
</body>
</html>