{% include 'partials/index.html' %}
<!-- {% if user.user_roles_fo %}
{% include 'partials/sidebar_fo.html' %}
{% elif user.user_roles_eo %}
{% include 'partials/sidebar_eo.html' %}
{% elif user.user_roles_la %}
{% include 'partials/sidebar_la.html' %}
{% elif user.user_roles_lec %}
{% include 'partials/sidebar_lec.html' %}
{% elif user.user_roles_hod %}
{% include 'partials/sidebar_hod.html' %}
{% elif user.user_roles_dean %}
{% include 'partials/sidebar_dean.html' %}
{% endif %} -->

{% load static %}