<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>{% block title %} {% endblock title %}</title>
        
        <link rel="icon" href="{% static 'images/run_logo.png' %}" type="image/x-icon"> <!-- Favicon-->
        <!-- project css file  -->
    
        <link rel="stylesheet" href="{% static 'styles/my-task.style.min.css' %}">
    </head>
    <body>
        
        {% block content %}

        {% endblock content %}
    
        <script src="{% static 'js/libscripts.bundle.js' %}"></script>
    </body>
</html>