<!doctype html>
{% load static %}
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <!-- <title>@yield('title')</title> -->
    <title>{% block title %} {% endblock title %}</title>
    <link rel="icon" href="../run_logo.png" type="image/x-icon"> <!-- Favicon-->
    
    <!-- plugin css file  -->
    <!-- <link rel="stylesheet" href="{% static 'datatables/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables/dataTables.bootstrap5.min.css' %}"> -->
    <!-- project css file  -->
    <link rel="stylesheet" href="{% static 'styles/my-task.style.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/select2/css/select2.min.css' %}">
    <!-- Jquery Core Js -->
    <script src="{% static 'js/libscripts.bundle.js' %}"></script>
    <script src="{% static 'js/blockUI.js' %}"></script>
    <script src="{% static 'js/select2/js/select2.min.js' %}"></script>
</head>
<body onload='checkInfo()'>
    <!-- @yield('content') -->
    {% block content %}

    {% endblock content %}
    
    <!-- Modal Members-->
    <div class="modal fade" id="addCourse" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title  fw-bold" id="addUserLabel">Add Course(s)</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-2">
                        <form id="addCourseForm" method="POST">
                            <select class="form-control form-control-md myselect" style="width: 100%" name="courses[]" multiple="multiple" required>
                            </select><hr>
                            <button id="btnAddCourse" class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var selector = '.menu-list li';
        var url = window.location.href;
        var target = url.split('/');
        $(selector).each(function(){
            if($(this).find('a').attr('href')===(target[target.length-1])){                             
                $(selector).removeClass('active');
                $(this).find('a').removeClass('active').addClass('active');
                //$('.collapse').removeClass('show').addClass('show');
            }
        });
    </script>
    <script>
        const checkInfo = () => {
            $(document).ready(function ($) {
                //$.blockUI()
                $.ajax({
                    url: '/ug/api/ug-course-list-curr-based',
                    method: 'GET',
                    success: function(response){
                        var data = $.map(response, function (obj) {
                            // obj.id = obj.id || obj.course_id; 
                            obj.id = obj.id || obj.course_code; 
                            obj.text = obj.text || obj.course_code;
                            return obj;
                        });
                        $('.myselect').select2({
                            placeholder: 'Select Course(s)',
                            theme: "classic",
                            data: data,
                            dropdownParent: $('#addCourse')
                        });
                    }
                })
            });            
        }        
    </script>
</body>
<script src="{% static   'js/validation.min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
</html> 