
{% extends 'layouts/master.html' %}
<!-- @extends("layouts.master")  -->
{% load static %}
{% block title %} :: RUN Result - Dashboard :: {% endblock title %}
<!-- @section("title")
:: RUN Result - Dashboard ::
@endsection -->

<!-- @section("content") -->
    {% block content %}
    <!-- Sidebar menu starts -->
    <div id="mytask-layout" class="theme-indigo">
      
        <div class="sidebar px-4 py-4 py-md-5 me-0">
    <div class="d-flex flex-column h-100">
        <a href="{% url 'dashboard' %}" class="mb-0 brand-icon">
            <span class="logo-icon">
                <svg  width="35" height="35" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                </svg>
            </span>
            <span class="logo-text">RUNREG</span>
        </a>
        <!-- Menu: main ul -->

        <ul class="menu-list flex-grow-1 mt-3">
            <li><a class="m-link" href="{% url 'dashboard' %}"><i class="icofont-home"></i> <span>Dashboard</span></a></li>
             <!-- Menu: manage courses -->
             {% if user.user_roles_lec %}
             <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#dashboard-Components" href="#">
                    <i class="icofont-law-document fs-5"></i> <span>Manage Course</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                <ul class="sub-menu collapse" id="dashboard-Components">
                    <li><a class="ms-link" href="{% url 'add_courses' %}"> <span>Add Course</span></a></li>
                    <li><a class="ms-link" href="{% url 'approved_courses' %}"> <span>Approved Courses</span></a></li>
                    <li><a class="ms-link" href="{% url 'pending_courses' %}"> <span>Pending Courses</span></a></li>
                </ul>
            </li>
            {% endif %}
            {% if user.user_roles_hod %}
             <!-- Menu: manage lecturers in department by HOD -->
          <li class="collapsed">
            <a class="m-link" data-bs-toggle="collapse" data-bs-target="#dashboard-Components" href="#">
                <i class="icofont-law-document fs-5"></i> <span>Manage Lecturers</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
            <ul class="sub-menu collapse" id="dashboard-Components">
                <li><a class="ms-link" href="{% url 'view_lecturer_roles' %}"> <span>Lecturers</span></a></li>
                <li><a class="ms-link" href="{% url 'approved_courses' %}"> <span>Approved Courses</span></a></li>
                <li><a class="ms-link" href="{% url 'pending_courses' %}"> <span>Pending Courses</span></a></li>
            </ul>
        </li>
        {% endif %}
        </ul>

         
          

        <!-- Theme: Switch Theme -->
        <ul class="list-unstyled mb-0">
            <li class="d-flex align-items-center justify-content-center">
                <div class="form-check form-switch theme-switch">
                    <input class="form-check-input" type="checkbox" id="theme-switch">
                    <label class="form-check-label" for="theme-switch">Enable Dark Mode!</label>
                </div>
            </li>
        </ul>
        
        <!-- Menu: menu collepce btn -->
        <button type="button" class="btn btn-link sidebar-mini-btn text-light">
            <span class="ms-2"><i class="icofont-bubble-right"></i></span>
        </button>
    </div>
</div>
<!-- Sidebar menu ends -->
        <div class="main px-lg-4 px-md-4">
            <!-- @include("partials.navbar")    -->
            {% include 'partials/navbar.html' %}
            <!-- Body: Body -->
            <div class="body d-flex py-3">
                <div class="container-xxl">
                    {% if user.user_roles_lec %}
                    <div class="row g-3 mb-3 row-deck">
                        <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar lg  rounded-1 no-thumbnail bg-lightyellow color-defult"><i class="bi bi-journal-check fs-4"></i></div>
                                        <div class="flex-fill ms-4">
                                            <div class="">Approved Courses</div>
                                            {% if user.user_roles_fo %}
                                            <h5 class="mb-0 ">({{request.session.appCourses}})</h5>
                                            {% endif %}
                                        </div>
                                        <a href="{% url 'approved_courses' %}" title="Approved_Courses" class="btn btn-link text-decoration-none  rounded-1"><i class="icofont-hand-drawn-right fs-2 "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar lg  rounded-1 no-thumbnail bg-lightblue color-defult"><i class="bi bi-list-check fs-4"></i></div>
                                        <div class="flex-fill ms-4">
                                            <div class="">Pending Courses</div>
                                            <h5 class="mb-0 ">({{request.session.pendCourses}})</h5>
                                        </div>
                                        <a href="{% url 'pending_courses' %}" title="Pending_Courses" class="btn btn-link text-decoration-none  rounded-1"><i class="icofont-hand-drawn-right fs-2 "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                            <div class="card ">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar lg  rounded-1 no-thumbnail bg-lightgreen color-defult"><i class="bi bi-clipboard-data fs-4"></i></div>
                                        <div class="flex-fill ms-4">
                                            <div class="">Add Course(s)</div>
                                        </div>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#addCourse" title="Add course" class="btn btn-link text-decoration-none  rounded-1"><i class="icofont-hand-drawn-right fs-2 "></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row End -->
                    {% endif %}
                    <div class="row g-3 mb-3 row-deck">
                        <div class="col-md-12 col-lg-8 col-xl-7 col-xxl-7">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-12 col-md-5 col-lg-6 order-md-2 ">
                                            <div class="text-center p-4">
                                                <img src="{% static 'images/task-view.svg' %}" alt="..." class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-7 col-lg-6 order-md-1 px-4">
                                            <h3 class="fw-bold ">{{request.user.firstname}}</h3>
                                            <p class="line-height-custom">...</p>
                                            <a class="btn bg-secondary text-light btn-lg lift" href="#">My Profile</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-5 col-xxl-5">
                            <div class="alert alert-primary p-3 mb-0 w-100">
                                <h6 class="fw-bold mb-1">Roles {{request.user.role}}</h6>
                                <p class="small mb-4">Check the box</p>
                                <form method="post" id="formSubmitRole">
                                    {% csrf_token %}
                                    <div class="form-check lecturer">
                                        <input class="form-check-input" type="checkbox" value="LEC" name="roles[]" id="lecturer">
                                        <label class="form-check-label" for="lecturer">
                                            Lecturer
                                        </label>
                                    </div>
                                    <div class="form-check adviser">
                                        <input class="form-check-input" type="checkbox" value="LA" name="roles[]" id="adviser">
                                        <label class="form-check-label" for="adviser">
                                            Level Adviser
                                        </label>
                                    </div>
                                    <div class="form-check officer">
                                        <input class="form-check-input" type="checkbox" value="EO" name="roles[]" id="officer">
                                        <label class="form-check-label" for="officer">
                                            Exam Officer
                                        </label>
                                    </div>
                                    <div class="form-check hod">
                                        <input class="form-check-input" type="checkbox" value="HOD" name="roles[]" id="hod">
                                        <label class="form-check-label" for="hod">
                                            HOD
                                        </label>
                                    </div>
                                    <div class="mb-2 prog">
                                        <select class="form-control form-control-md" name="programme" id="programme">
                                            <option value="">Select Programme</option>
                                            {% for row in prog %}
                                            <option value="{{row.programme_id}}*{{row.department.id}}">{{row.programme}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                    <div class="mb-2 dept">
                                        <select class="form-control form-control-md" name="department" id="department">
                                            <option value="">Select Department</option>
                                            {% for row in dpt %}
                                            <option value="{{row.id}}">{{row.department}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                    <button type="submit" id="btnSubmitRole" class="btn btn-primary mt-2">Update Role</button>
                                </form>
                            </div>
                        </div>
                    </div><!-- Row End -->
                </div>             
            </div>
        </div>
    </div>
    <!-- Plugin Js-->
    <script src="{% static 'js/apexcharts.bundle.js' %}"></script>
    <script src="{% static 'js/dataTables.bundle.js' %}"></script>


    <!-- Jquery Page Js -->
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
<!-- @endsection -->
{% endblock content %}

