{% extends 'layouts/master.html' %}
{% load static %}
{% block title %} :: RUN Result - Courses :: {% endblock title %}



{% block content %}

    <div id="mytask-layout" class="theme-indigo">
        {% include 'partials/sidebar.html' %}
        <div class="main px-lg-4 px-md-4">
            {% include 'partials/navbar.html' %}
            <div class="body d-flex py-lg-3 py-md-2">
                <div class="container-xxl">
                    <div class="row align-items-center">
                        <div class="border-0 mb-4">
                            <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                <h3 class="fw-bold mb-0">{{course}} Student Registration ({{count}})</h3>
                            </div>
                        </div>
                    </div> <!-- Row end  -->
                    <div class="row clearfix g-3">
                      <div class="col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <form method="post" id="inputScoreForm">
                                        <table id="myProjectTable" class="table table-hover align-middle mb-0 scoreTable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Matric Number</th> 
                                                    <th>Course Code</th> 
                                                    <th>Session</th>   
                                                    <th>Score</th>   
                                                    <th>Grade</th>  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for reg in regs %}
                                                    <tr>
                                                        <td>
                                                            <span class="fw-bold">{{forloop.counter}}</span>
                                                        </td>
                                                        <td>
                                                            <span class="fw-bold ms-1"> {{reg.matric_number_fk}}</span>
                                                        </td>
                                                        
                                                        <td>
                                                            <span class="fw-bold ms-1"> {{reg.course_code}}</span>
                                                        </td>
                                                        <td>
                                                            {{reg.session_id}}
                                                        </td>
                                                        <td>
                                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                                <input class="form-control form-control-md score" name="{{reg.matric_number_fk}}" type="text" required>     
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                                <input type="text" id="{{forloop.counter}}" class="form-control form-control-md grade" readonly>     
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                                            <button type="submit" id="btnScoreInput" class="btn btn-primary">Submit</button>    
                                        </div>
                                    </form>
                                </div>
                            </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/apexcharts.bundle.js' %}"></script>
    <script src="{% static 'js/dataTables.bundle.js' %}"></script>


    <!-- Jquery Page Js -->
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

{% endblock content %}